@import "tailwindcss";

:root {
  --gold: #d4af37;
  --background: #fafafa;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: black;
  font-family: Arial, sans-serif;
}

* {
  box-sizing: border-box;
}